authlogger-old_but_works.py
duckdns.sh
testcode.py
auth.log
blocklist.txt
logs/authlogger.log
.gitignore
vncserver-x11.log
blocklist.dat
.VSCodeCounter/
__pycache__/
*
!.gitignore
!authlogger.py
!list_blocks.py
!import_blocks.py
!settings.ini
!README.md
!alog.sh
!copying.txt
!version_update.py
!lingo.py